/* SmartwatchScreen */
.smartwatch .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}
.smartwatch .hero .t-h4 {
  margin-top: 12px;
}
.smartwatch .hero .t-cap {
  margin-top: 4px;
  text-align: center;
}
.smartwatch .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
